.App {
  text-align: center;
}

h1{
    font-family: 'Oswald', sans-serif;
}

form{
    display:flex;
    flex-direction: column;
    width:50%;
    margin:auto;
}

input[type="text"], [type="email"]{
    padding:7px;
    border-radius:10px;
    margin-bottom: 10px;
    background-color:#500F2F;
    border:none;
    box-shadow: 2px 5px 5px  #C2749A;
    color:#FFF;
    font-size:15px;
    font-family: 'Oswald', sans-serif;
}

textArea{
    padding:7px;
    border-radius:10px;
    margin-bottom: 10px;
    background-color:#8E2B5B;
    border:none;
    box-shadow: 2px 5px 5px  #C2749A;
    color:#FFF;
    font-size:15px;
    font-family: 'Oswald', sans-serif;
}

input[type="submit"]{
    padding:10px;
    border-radius:10px;
    margin-bottom: 10px;
    background-color:#2A1EA6;
    border:none;
    cursor:pointer;
    font-size: 18px;
    font-weight: bold;
    color:#FFF;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

input[type="submit"]:active{
    transform:scale(.9);
}

input[type="submit"]:hover{
    background-color:#5040F2;
    color:#111;
}

p{
    position:relative;
    bottom: 20px;
    border-radius:5px;
    background-color:red;
    font-size: 16px;
    color:#FFF;
    font-family: 'Oswald', sans-serif;
}

@media screen and (max-width:650px){
    h1{
        font-size:25px;
    }
    input[type="submit"]{
    padding:8px;
    font-size: 15px;
    letter-spacing: 1px;
    }
    input[type="text"], [type="email"]{
    padding:5px;
    border-radius:7px;
    font-size:13px;
    }

    textArea{
        padding:5px;
        border-radius:7px;
        font-size:13px;
    }
    textArea::placeholder{
        color:#111;
    }
}

@media screen and (max-width:550px){
    h1{
        font-size:20px;
    }
}
